<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-700 p-5">
        <div class="inputSection p-5 text-zinc-300 text-md">
            <form action="/create" method="post">
                <input name="title" type="text" placeholder="Insert the title of your note" class="border-2 bg-zinc-700 border-gray-300 mb-4 rounded-md p-2 w-full border-zinc-500" />
                <textarea name="description" type="text" placeholder="Insert the description of your note" class="border-2 bg-zinc-700 border-gray-300 mb-4 rounded-md p-2 w-full resize-none border-zinc-500"></textarea>
                <button type="submit" class="bg-blue-600 active:bg-blue-900 text-white font-bold py-2 px-4 rounded-lg">Submit</button>
            </form>
            <div class="flex flex-wrap gap-4 mt-5">
                <% if(files.length > 0) { %>
                    <% files.forEach((file) => { %>
                        <div class="card1 bg-zinc-800 py-2 px-4 rounded-md">
                            <h1 class="text-3xl tracking-tight font-semibold"><%= file %></h1>
                            <div class="flex justify-between item-center mt-3">
                            <a href="./files/<%= file %>" class="cursor-pointer text-blue-500 hover:underline active:text-blue-300">Read more...</a>
                            <a href="./edit/<%= file %>" class="text-sm cursor-pointer text-yellow-500 hover:underline active:text-yellow-300">edit filename</a>
                        
                            </div>    
                        </div>
                    <% }); %>
                <% } else { %>
                <h2 class="text-2xl tracking-tighter font-bold text-zinc-500">No task yet...</h2>
                <% } %>
            </div>
    
        </div>
</body>
</html>