<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-700 p-5">
    <div>
  
        <div class="p-4 rounded-md text-zinc-300 gap-4">
            <h2 class="text-3xl tracking-tight font-semibold m-2"><%= title %></h2>
            <h2 class="text-xl tracking-tight font-semibold text-zinc-400 mx-2 mb-4"><%= Description %></h2>
            <a href="/" class="mt-4 cursor-pointer text-blue-500 hover:underline active:text-blue-300">Go back...</a>
        </div>
        <hr class="my-1"/>
       
    </div>
</body>
</html>